# R / RStudio
.Rhistory
.RData
.Rproj.user/
*.Rproj
sitio.Rproj

# Quarto caches y generados
quarto_cache/
_quarto/
docs/
site/

# Freeze (solo si quieres regenerar todo en nueva PC)
# _freeze/   ← NO lo ignores (es necesario para freeze: auto)

# Node.js (Netlify functions)
node_modules/
package-lock.json

# OS / Editor basura
.DS_Store
Thumbs.db
*.tmp
*.bak

# Netlify temporales
.netlify/